
#navbar{
    height:70px;
    position:fixed;
}
#TopBar{
    overflow: hidden;
    background-color: #ffc56e;
    position: relative;
    top: 0px;
    width: 100%;
    height:100%;
    padding:0px;
    /* opacity:0%; */
    /* background-color:orange; */
    /* display:flex; */
    /* align-items: flex-start; */
}
#overlay{
    background-color: none;
    z-index:1;
    height:100%;
    /* left:60%; */
    width:100%;
    top:35%;
    position:absolute;
}
.overlayButton{
    float:right;
    background-color:none;
    background: none;
    font-size: 20px;
    width:auto;
    border:none;
    margin-right:1%;

}
.overlayButton a{
    color:white;
    font-weight:bold;
    text-decoration: none;
    text-shadow:1px 1px black;
}
.overlayButton a:visited{
    color:white;
    font-weight:bold;
    text-decoration: none;
    text-shadow:1px 1px black;
}
body{
    padding : 0px;
    margin:0px;
}
.Line {
    margin:0px;
    width: 50px;
    display: inline-block;
    vertical-align:top;
    height: 2px;
    left:0px;
    background-color: #ffde4f;
    position: relative;
    animation-fill-mode: forwards;
    animation: moveLine 5s linear infinite;
    opacity:75%;
}
@keyframes moveLine {
    /* 0% {
        left: 0px;
    } */
    100% {
        transform:translatex(100vw);
        /* left :calc(100% - 50px); */
    }
}

@media screen and (max-width: 800px) {
    .overlayButton{
        width:100%;
    }
    #navbar{
        height:150px;
    }
    #overlay{
        top:10%;
    }
    .overlayButton{
        margin: 0.5% 0.5% 0.5% 0.5%;
    }
}